body {
  font-family: Arial, sans-serif;
  background-color: #f0f4f8; 
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 30px;
  margin: 0;
}
form {
  background-color: #ffffff; 
  padding: 20px 30px;
  border-radius: 10px;
  width: 350px;
  color: #333;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
form h2 {
  text-align: center;
  color: #003366; 
  margin-bottom: 20px;
}
label {
  display: block;
  margin: 10px 0 5px;
}
input[type="text"],
input[type="password"],
input[type="email"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  transition: 0.3s;
}
input:focus {
  outline: none;
  border-color: #0077cc;
}
input[type="radio"],
input[type="checkbox"] {
  margin-right: 5px;
  margin-top: 10px;
}
.error {
  color: red;
  font-size: 13px;
  margin-bottom: 10px;
}
.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.btn {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  width: 48%;
  transition: 0.3s;
}
.green {
  background-color: #28a745; 
  color: white;
}
.green:hover {
  background-color: #218838;
}
.red {
  background-color: #dc3545; 
  color: white;
}
.red:hover {
  background-color: #c82333;
}
